# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
dist/
.vite/

# Editor & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# TypeScript build output
*.tsbuildinfo

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Cache files
.cache/
